<div class="other">
  <h1>OTHER PERSONAL DETAILS</h1>
  <form class="row g-3" #otherDetailsForm="ngForm">
    <div class="col-md-6">
      <label for="inputIsDisabled" class="form-label">IS DISABLED</label>
      <select id="inputIsDisabled" name="isdisabled" class="form-select" id="isdisabled" [(ngModel)]="isDis">
        <option selected>Select </option>
        <option>Yes</option>
        <option>No</option>
      </select>
    </div>
    <div class="col-6">
      <label for="inputTypeofDisablity" class="form-label">TYPE OF DISABILITY</label>
      <input type="text" name="typeofdisability" class="form-control" id="typeofdisability" placeholder=""
        [(ngModel)]="typeDis">
    </div>
    <div class="col-6">
      <label for="inputpercentageofdisability" class="form-label">PERCENTAGE OF DISABILITY</label>
      <input type="number" name="disabilitypercentage" class="form-control" id="percentageofdisablity"
        [(ngModel)]="percent">
    </div>
    <div class="col-md-6">
      <label for="inputMaritalStatus" class="form-label">MARITAL STATUS</label>
      <select id="inputMaritalStatus" name="maritalstatus" class="form-select" id="maritalstatus" [(ngModel)]="mar">
        <option selected>Select </option>
        <option>MARRIED</option>
        <option>SINGLE</option>
      </select>
    </div>
    <div class="col-6">
      <label for="inputParentsProfession" class="form-label">PARENTS PROFESSION</label>
      <input type="text" name="parentsprofession" class="form-control" id="parentsprofession" placeholder=""
        [(ngModel)]="prof">
    </div>
  </form>
</div>