*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.other{
    padding-left: 5%;
    padding-right: 5%;
}
.btn a{
    color: black;
    text-decoration: none;
  }
  .wrapper{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
ul li{
padding-left: 10px;
padding-right: 10px;
}

.alert {
    padding: 20px;
    background-color: #000000;
    color: white;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

div{
    background-color: lightblue;
  }