<div class="cls">
    <h2 style="text-align: center;">Help Desk</h2>
    <h4 [align]="justify">Please check the Announcement corner regularly for latest
        updates and
        information.</h4>
    <br>

    <p [align]="justify">
        For any technical queries, please contact Helpdesk at
        <strong><a href="mailto:helpdesk@nsp.gov.in">helpdesk@nsp.gov.in </a></strong> or
        <strong><a href="tel:Number"> 120 - 6619540 </a> </strong>
        <br><br><span class="text-primary" style="color: #FFF;"> (from 8 AM to 8 PM on all days, excluding
            holidays) </span>
    </p>
</div>