
.latest-updates{
  background-color: rgb(170, 170, 246);
}

.help-desk{
  padding:2%;
}
.description{
  grid-column: 2;
  grid-row: 1 / 3;
}
.login{
  grid-column: 3;
  grid-row: 1 / 3;

}
.container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    /* grid-template-rows: 50% 100% 100%; */
    grid-template-areas: 
      "latest-updates description login"
      "help-desk description  login";
      column-gap: 10px;
      row-gap: 15px;
      grid-auto-flow: row;
      padding: 10px;
  }
