.main-div mat-card
{
    padding: 30px;
    
    float: left;
    background-color: rgb(170, 170, 246);
}
.login-form{

padding-left: 00px;

background-color: rgb(170, 170, 246);
}
.btn{
    background-color: rgba(158, 51, 235, 0.847);
}

.alert-danger{
    background-color: rgb(252, 76, 76);

}
.alert{
    color: black;
}