<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar class="btn">Nodal Officer Login</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" (ngSubmit)="userLogin()">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput type="text" [(ngModel)]="userId" placeholder="Username" id="userID" name="userID">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput type="password" [(ngModel)]="password" placeholder="Password" id="password"
                    name="password">
            </mat-form-field>
            <button mat-raised-button type="submit" color="violet"> Login </button>
        </form>
    </mat-card>
</div>