<ul>
    <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    <li><a routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">ABOUT US</a></li>
    <li><a routerLink="/contact-us" routerLinkActive="active" ariaCurrentWhenActive="page">Contact US</a></li>
    <li><a routerLink="/student-register" routerLinkActive="active" ariaCurrentWhenActive="page">New Registeration</a>
    <li><a routerLink="/nodalofficerlogin" routerLinkActive="active" ariaCurrentWhenActive="page">Nodal Officer Login</a>
    <li><a routerLink="/institutionlogin" routerLinkActive="active" ariaCurrentWhenActive="page">Institution Login</a>
    </li>
</ul>