ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(175, 113, 250);
    display: flex;
    justify-content:space-around;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(246, 243, 248);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(56, 30, 126);
  }