<div class="contact">
  <h1>CONTACT DETAILS</h1>
  <form class="row g-3" #contactDetailsForm="ngForm">
    <div class="col-6">
      <label for="inputState" class="form-label">STATE</label>
      <select id="inputState" name="state" class="form-select" id="state" [(ngModel)]="state">
        <option selected>select your state</option>
        <option value="1" name="state">Telangana</option>
        <option value="2" name="state">Maharashtra</option>
        <option name="state">Kerala</option>
        <option name="state">MadhyaPradesh</option>
        <option name="state">Punjab</option>
      </select>
    </div>
    <!-- <div *ngIf="selectedValue== 2" class="alert alert-danger" role="alert">
      Students from Maharashtra belonging to the backward categories can Select Merit-cum-Means Scheme offered by
      Maharashtra DTE Scholarship.
    </div> -->
    <div class="col-6">
      <label for="inputDistrict" class="form-label">DISTRICT</label>
      <input type="text" name="district" class="form-control" id="district" placeholder="Please enter your district"
        [(ngModel)]="district">
    </div>
    <div class="col-6">
      <label for="inputTaluk" class="form-label">TALUK</label>
      <input type="text" name="taluk" class="form-control" id="taluk" placeholder="Please enter your Taluk / Landmark"
        [(ngModel)]="taluka">
    </div>
    <div class="col-6">
      <label for="inputHno" class="form-label">HOUSE NUMBER</label>
      <input type="text" name="houseno" class="form-control" id="hno" placeholder="" [(ngModel)]="hNum">
    </div>
    <div class="col-6">
      <label for="inputStreetno" class="form-label">STREET NUMBER</label>
      <input type="text" name="streetno" class="form-control" id="streetno" placeholder="" [(ngModel)]="sNum">
    </div>
    <div class="col-6">
      <label for="inputPincode" class="form-label">PINCODE</label>
      <input type="number" name="pincode" class="form-control" id="pincode" placeholder="" [(ngModel)]="pin">
    </div>
  </form>
  <br>
  <br>
</div>