<div class="wrapper">
    <div class="shadow p-3 mb-5 bg-body rounded">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <button><a routerLink="basicdetail" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page" >BasicDetails</a></button>
    </li>
    <li class="nav-item">
      <button><a routerLink="acadamicdetail" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page" >AcadamicDetails</a></button>
    </li>
    <li class="nav-item">
      <button><a routerLink="tenthdetail" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page" >TenthDetails</a></button>
    </li>
    <li class="nav-item">
      <button><a routerLink="twelvedetail" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page" >TwelthDetails</a></button>
    </li>
    <li class="nav-item">
      <button><a routerLink="feedetail" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page" >FeeDetails</a></button>
    </li>
    <li class="nav-item">
      <button><a routerLink="otherdetail" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page" >OtherDetails</a></button>
    </li>
    <li class="nav-item">
      <button><a routerLink="contactdetail" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page" >ContactDetails</a></button>
    </li>
    <li class="nav-item">
      <button><a routerLink="submitdetail" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page" >SubmitDetails</a></button>
    </li>
  </ul>
    </div>
  </div>

  <router-outlet></router-outlet>