<body>
  <app-basic-det #basic></app-basic-det>
  <app-acad-det #acad></app-acad-det>
  <app-ten-det #ten></app-ten-det>
  <app-twel-det #twel></app-twel-det>
  <app-fee-det #fee></app-fee-det>
  <app-oth-det #other></app-oth-det>
  <app-con-det #con></app-con-det>
  <app-sub-det #sub></app-sub-det>

  <div class="col-12">
    <button type="submit" class="btn btn-primary"
      (click)="submit(basic,acad,ten,twel,fee,other,con,sub)">Submit</button>
  </div>
</body>
<!-- 
<div class="wrapper">
    <div class="shadow p-3 mb-5 bg-body rounded">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <button><a routerLink="basicdetail" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page" >BasicDetails </a></button>
    </li>
    <li class="nav-item">
      <button><a routerLink="acadamicdetail" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page" >AcadamicDetails</a></button>
    </li>
    <li class="nav-item">
      <button><a routerLink="tenthdetail" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page" >TenthDetails</a></button>
    </li>
    <li class="nav-item">
      <button><a routerLink="twelvedetail" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page" >TwelthDetails</a></button>
    </li>
    <li class="nav-item">
      <button><a routerLink="feedetail" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page" >FeeDetails</a></button>
    </li>
    <li class="nav-item">
      <button><a routerLink="otherdetail" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page" >OtherDetails</a></button>
    </li>
    <li class="nav-item">
      <button><a routerLink="contactdetail" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page" >ContactDetails</a></button>
    </li>
    <li class="nav-item">
      <button><a routerLink="submitdetail" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page" >SubmitDetails</a></button>
    </li>
  </ul>
    </div>

<div>
REQUIRED DOCUMENT
<br><br>
* ADHAR CARD<br>
* 10th MARKSHEET<br>
* 12th MARKSHEET
<br>
<br>
<br><br><br><br><br><br>
<br><br><br><br>
</div>
  </div>

  

  <router-outlet></router-outlet> -->