<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Guide:-</strong> Submit to fill Fee Detail.
</div>
<div class="wrapper">
    <div class="shadow p-3 mb-5 bg-body rounded">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >BasicDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >AcademicDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >TenthDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >TwelthDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >FeeDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >OtherDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"  aria-current="page" >ContactDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >SubmitDetails</a>
    </li>
  </ul>
    </div>
  </div>
<div class="twelth">
    <h1>12<sup>th</sup>CLASS</h1>
    <form class="row g-3" #twelthDetailsForm="ngForm" (ngSubmit)="saveTwelthDetails(twelthDetailsForm)">
      <div class="col-4">
        <label for="inputEmail" class="form-label">Registered Email</label>
        <input type="text" name="loginid" class="form-control" id="email" placeholder="" ngModel >
    </div>
        <div class="col-md-6">
          <label for="inputRollNo" class="form-label">ROLL NUMBER</label>
          <input type="number" name="twelthrollno" class="form-control" id="twelthrollno" ngModel>
        </div>
        <div class="col-6">
            <label for="inputBoardName" class="form-label">BOARD NAME</label>
            <input type="text" name="twelthboardname" class="form-control" id="twelthboardname" placeholder="" ngModel>
        </div>
        <div class="col-6">
            <label for="inputPassingYear" class="form-label">Passing Year</label>
            <input type="date" name="twelthyear" class="form-control" id="twelthpassingyear" placeholder="" ngModel>
        </div>
        <div class="col-md-4">
            <label for="inputpercentage" class="form-label">Percentage Obtained</label>
            <input type="number" name="twelthpercentage" id="twelthpercentage" class="form-control" ngModel>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary"><a href="http://localhost:4200/applyscheme/feedetail">Submit</a></button>
          </div>
    </form>

    <br>
    <br>
    </div>
    
