<div class="twelth">
  <h1>12<sup>th</sup>CLASS</h1>
  <form class="row g-3" #twelthDetailsForm="ngForm">
    <div class="col-md-6">
      <label for="inputRollNo" class="form-label">ROLL NUMBER</label>
      <input type="number" name="twelthrollno" class="form-control" id="twelthrollno" [(ngModel)]="rollno">
    </div>
    <div class="col-6">
      <label for="inputBoardName" class="form-label">BOARD NAME</label>
      <input type="text" name="twelthboardname" class="form-control" id="twelthboardname" placeholder=""
        [(ngModel)]="board">
    </div>
    <div class="col-6">
      <label for="inputPassingYear" class="form-label">Passing Year</label>
      <input type="date" name="twelthyear" class="form-control" id="twelthpassingyear" placeholder=""
        [(ngModel)]="passYear">
    </div>
    <div class="col-md-4">
      <label for="inputpercentage" class="form-label">Percentage Obtained</label>
      <input type="number" name="twelthpercentage" id="twelthpercentage" class="form-control" [(ngModel)]="perObtain">
    </div>

  </form>
</div>