h1{

    color: black;
    margin-left: 32%;
}
.btn{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}


.container{
    background-color: rgb(170, 170, 246);
}
body {
    background-color: lightblue;
  }