h1{
    color: rgb(25, 24, 25);
    margin-left: 32%;
}
.btn{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.container{
    background-color: rgb(170, 170, 246);
}