.main-div mat-card
{
    padding: 0px;
    background-color: rgb(170, 170, 246);
}
.login-form{

padding: 20px;

}

.btn
{
    background-color: rgb(170, 170, 246);
}

.alert-danger{
    background-color: rgb(252, 76, 76);

}
.alert{
    color: black;
}