<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar class="btn">Institute Login</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="login-form" (ngSubmit)="userLogin()">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input required #name="ngModel" matInput type="text" [(ngModel)]="userId" placeholder="Username" id="userID" name="userID" ngModel>
                <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                    *Username is required
                   </div>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input required #pass="ngModel" matInput type="password" [(ngModel)]="password" placeholder="Password" id="password"
                    name="password" ngModel>
                    <div *ngIf="pass.touched && pass.invalid" class="alert alert-danger">
                        *Password is required
                       </div>
            </mat-form-field>
            <button mat-raised-button type="submit" (click)="userLogin()"> Login </button>
        </form>
    </mat-card>
</div>