<div class="shadow p-3 mb-5 bg-body rounded">
    <h2>Welcome Officer</h2>
    <style>
        h2 {
            text-align: center;
        }
    </style>
</div>
<ul>
    <li *ngFor="let item of scholarships; let i = index" class="noncolor-card">
        <pre> {{i+1}} {{convertToShortString(item)}}</pre>
        <button class="approve noncolor-card" (click)="approve(item)">Approve</button>
        <button class="reject noncolor-card" (click)="reject(item)">Reject</button>
        <button class="more noncolor-card" (click)="more(item)">View More Details>></button>
    </li>
</ul>