<div class="shadow p-3 mb-5 bg-body rounded">
    <h2>Welcome {{logedin}}</h2>
    <style>
        h2 {
            text-align: center;
        }
    </style>
</div>

<!-- 
<br><br>

<div class="container">
    <div class="row mx-md-n5"> -->

<!-- <div class="col px-md-2">
            <div class="p-3 border bg-light">


                <div style="height: 250px;">
                    <ul>
                        <li>MY PROFILE</li>
                        <li>Check Status</li>
                        <li>UPDATE</li>
                        <li>LOGOUT</li>
                    </ul>
                </div>

            </div>
        </div> -->

<!-- <div class="col px-md-2">
            <div class="p-3 border bg-light">

                <div style="height: 250px;">
                    <p class="d-flex justify-content-center">Applied Scholarships </p>

                </div>

            </div>
        </div> -->

<!-- <div class="col px-md-2">
            <div class="p-3 border bg-light">

                <div style="height: 250px;">
                    <div>
                        <h4 class="d-flex justify-content-center">Guidelines</h4>
                        <p class="d-flex justify-content-center">Commenting is one such practice that is often ignored
                            by programmers, especially for codes that are written by multiple programmers. But remember,
                            commenting is an important part of project you create. With proper comments and organised
                            files its always easier for you or others to jump in and understand where things are at and
                            how they work.
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <br><br>

        <div class="row mx-md-n5">
            <div class="col-sm-4 px-md-2 mx-auto">
                <div class="p-3 border bg-light">
                    <h4 class="d-flex justify-content-center">Scholarship Description</h4>
                    <div class="col-sm-4 mx-auto">
                        <button type="button" class="btn btn-primary" routerLink="../applyscheme">Apply</button>
                    </div>
                </div>
            </div>
        </div> -->
<!-- 
    </div> -->
<h2>Applied Scholarships and their Status</h2>
<app-student-applied class="d-flex justify-content-center"></app-student-applied>