<div class="container">
    <div class="col-md-12">
        <div class="aboutContent">
            <h2 style="text-align: center;">Welcome to National Scholarship Portal</h2>
            <p><strong>National Scholarships Portal</strong> is one-stop solution through which various services
                starting from student application, application receipt, processing, sanction and disbursal of various
                scholarships to Students are enabled. National Scholarships Portal is taken as Mission Mode Project
                under National e-Governance Plan (NeGP)
            </p>
            <h4>Vision</h4>

            <p>National Scholarships Portal is one-stop solution through which various services starting from student
                application, application receipt, processing, sanction and disbursal of various scholarships to Students
                are enabled. <br> This initiative aims at providing a Simplified, Mission-oriented, Accountable,
                Responsive &amp; Transparent <strong>'SMART'</strong> System for faster &amp; effective disposal of
                Scholarships applications and delivery of funds directly into beneficiaries account without any
                leakages.
            </p>

            <h4>Mission</h4>
            <p>The Mission Mode Project (MMP) of National Scholarships Portal under the National e-Governance Plan aims
                at providing common electronic portal for implementing various Scholarships schemes launched by Union
                Government, State Government and Union Territories across the country.
            </p>
            <div *ngIf="isOk('/about-us')">
                <h4>Objectives</h4>
                <ul>
                    <li>Ensure timely disbursement of Scholarships to students
                    </li>
                    <li>Provide a common portal for various Scholarships schemes of Central and State Governments
                    </li>
                    <li>Create a transparent database of scholars
                    </li>
                    <li>Avoid duplication in processing
                    </li>
                    <li>Harmonisation of different Scholarships schemes &amp; norms
                    </li>
                    <li>Application of Direct Benefit Transfer
                    </li>
                </ul>
                <h4>Benefits</h4>
                <div class="benefit">
                    <h5><i class="fa fa-circle"></i>&nbsp; Simplified process for the students:</h5>
                    <p>1:&nbsp;All scholarships information available under one umbrella.</p>
                    <p>2:&nbsp;Single integrated application for all scholarships </p>

                    <h5><i class="fa fa-circle"></i>&nbsp; Improved transparency :</h5>
                    <p>1:&nbsp;System suggests the schemes for which a student is eligible.</p>
                    <p>2:&nbsp;Duplicates can be reduced to the maximum extent</p>

                    <h5><i class="fa fa-circle"></i>&nbsp; Helps in standardisation :</h5>
                    <p>1:&nbsp;Master data for Institutions and courses at all India level .</p>
                    <p>2:&nbsp;cholarships processing </p>

                    <h5><i class="fa fa-circle"></i>&nbsp; Serves as a decision support system (DSS) for Ministries and
                        departments as up-to date information will be available on demand.</h5>
                    <h5><i class="fa fa-circle"></i>&nbsp; Comprehensive MIS System to facilitate monitoring every stage
                        of
                        Scholarships distribution i.e. from student registration to delivery of funds </h5>
                </div>
            </div>
        </div>
    </div>
</div>