<h1>Institution Registration</h1>
<hr>

<div class="container">
    <form class="row" [formGroup]="form" (ngSubmit)="saveInstitution()">
        
         <div class="col-md-10">
             <h2>BASIC DETAILS</h2><br>
             <div class="col-md-4">
                <label for="inputInstitutionCategory" class="form-label">INSTITUTION CATEGORY</label>
                <select id="inputInstitutionCategory" class="form-select" id="institioncategory" formControlName="institioncategory">
                  <option selected>select your institution category</option>
                  <option>Government Institute </option>
                  <option>Govt. Aided Institute </option>
                  <option>Unaided Institute </option>
                </select>
                </div>
            </div><br>
            <div class="row">
            <div class="col-md-4">
                <label for="inputName" class="form-label">Name</label>
                <input type="text" class="form-control" id="Name" placeholder="" formControlName="name">
            </div ><br>
            <div class="col-md-4" >
            <label for="inputState" class="form-label">STATE</label>
            <select id="inputInstitutionCategory" class="form-select" id="state" formControlName="inststate">
              <option selected>select state</option>
              <option>Andra Pradesh </option>
              <option>Kerala </option>
              <option>Maharashtra</option>
              <option>West Bengal</option>
            </select></div>
        </div>
            <br>
            <div class="col-md-4">
                <label for="inputDistrict" class="form-label"> DISTRICT </label>
                <input type="text" class="form-control" id="district" placeholder="" formControlName="instdistrict">
            </div>
            <div class="col-md-4">
                <label for="inputIstituteCode" class="form-label"> INSTITUTE CODE</label>
                <input type="text" class="form-control" id="institutecode" placeholder="" formControlName="institutionCode">
            </div>
            <div class="col-md-4">
                <label for="email" class="form-label">EMAIL</label>
                <input type="text" class="form-control" id="email" placeholder="" formControlName="email">
            </div>
            <div class="col-md-4">
                <label for="inputDISECode" class="form-label">DISE CODE</label>
                <input type="text" class="form-control" id="DISEcode" placeholder="" formControlName="disecode">
            </div>
            <div  class="row">
                <label for="inputLocation" class="form-label">LOCATION :</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" formControlName="location">
                    <label class="form-check-label" for="flexRadioDefault1">RULAR</label>
                </div>
                <br>
                <div>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2"> URBAN </label>
                  </div>
                  </div>
            <div class="col-md-4">
                <label for="inputIstituteType" class="form-label">INSTITUTE TYPE</label>
                <select id="inputInstituteType" class="form-select" id="institutetype" formControlName="institutionType">
                  <option selected>Select Type</option>
                  <option>Junior College</option>
                  <option>Diploma College</option>
                  <option>Under Graduate College</option>
                  <option>Post Graduate College</option>
                  <option>Ph.D. College </option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputAffiliatedUniversityState" class="form-label">AFFILIATED UNIVERSITY STATE</label>
                <select id="inputAffiliatedUniversityState" class="form-select" id="affiliateduniversitystate" formControlName="affilatedUniversityState">
                  <option selected>Select State</option>
                  <option>Andhra Pradesh</option>
                  <option>Kerala</option>
                  <option>Maharashtra</option>
                  <option>West Bengal</option>
                </select>
                </div>
            <div class="col-md-6">
                <label for="inputAffiliatedUniversityBoardName" class="form-label">AFFILIATED UNIVERSITY/ BOARD NAME</label>
                <input type="text" class="form-control" id="affiliateduniversityboardname" placeholder="" formControlName="affilatedUniversityBoardName">
            </div>
            <div class="col-md-12">
                <label for="inputYearFromWhichAdmissionStarted" class="form-label">YEAR FROM WHICH ADMISSION STARTED </label>
                <input type="date" class="form-control" id="yearfromwhichadmissionstarted" placeholder="" formControlName="yearFromWhichAdmissionStarted">
            </div>
            
            <div class="col-md-8">
                <label for="inputSetPassword" class="form-label">Set Password</label>
                <input type="text" class="form-control" id="setpassword" placeholder="" formControlName="setPassword">
            </div>
            <div class="col-md-8">
                <label for="inputConfirmPassword" class="form-label">Confirm Password</label>
                <input type="text" id="confirmpassword" class="form-control" placeholder="" formControlName="confirmPassword">
              </div>

              <label for="input" class="form-label"> ADDRESS:</label>
            <div class="col-md-8">
                <label for="inputLine1" class="form-label">LINE 1:</label>
                <input type="text" class="form-control" id="line1" placeholder="" formControlName="addressLine1">
            </div>
            <div> <label for="inputLine2" class="form-label">LINE 2:</label>
                <input type="text" class="form-control" id="line2" placeholder="" formControlName="addressLine2">
            </div>
            <div> <label for="inputCity" class="form-label">CITY :</label>
                <input type="text" class="form-control" id="city" placeholder="" formControlName="city">
            </div>
            <div class="col-md-8">
                <label for="inputState" class="form-label">STATE</label>
                <select id="inputState" class="form-select" id="state" formControlName="state">
                  <option selected>Select State</option>
                  <option>Andhra Pradesh</option>
                  <option>Kerala</option>
                  <option>Maharashtra</option>
                  <option>West Bengal</option>
                </select>
                </div>
                <div> <label for="inputDistrict" class="form-label">DISTRICT :</label>
                    <input type="text" class="form-control" id="DISTRICT" placeholder="" formControlName="district">
                </div>
                <div> <label for="inputPinCode" class="form-label">PINE CODE :</label>
                    <input type="number" class="form-control" id="pincode" placeholder="" formControlName="pincode">
                </div>
                <label for="input" class="form-label">CONTACT DETAILS:</label>
                <div class="col-md-8">
                    <label for="inputPrincipalName" class="form-label">PRINCIPAL NAME :</label>
                    <input type="text" class="form-control" id="line1" placeholder="" formControlName="principleName">
                </div>
                <div> <label for="inputMobileNumber" class="form-label">MOBILE NUMBER :</label>
                    <input type="number" class="form-control" id="line2" placeholder="" formControlName="mobileNumber">
                </div>
                <div> <label for="inputTelephone" class="form-label">TELEPHONE :</label>
                    <input type="number" class="form-control" id="telephone" placeholder="" formControlName="telephone">
                </div>
                <div class="form-check" class="col-md-10">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked" >
                      ALL THE DETAILS AND DOCUMENTS SUBMITTED BY US ARE VALID AND TRUE.
                      IF FOUND GUILTY OF SUBMITTING INVALID DOCUMENTS, WE MAY BE HELD RESPONSIBLE FOR THAT ACT BY US.
                    </label>
                  </div>
                 <div > <button class="btn btn-primary" type="submit">SUBMIT</button>
    
                <button class="btn btn-primary" type="reset" value="Reset">RESET</button>
                </div>
    </form>
    </div>
