<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Guide:-</strong> Submit to fill Other Detail
  .
</div>
<div class="wrapper">
    <div class="shadow p-3 mb-5 bg-body rounded">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >BasicDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >AcademicDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >TenthDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >TwelthDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >FeeDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >OtherDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"  aria-current="page" >ContactDetails</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" >SubmitDetails</a>
    </li>
  </ul>
    </div>
  </div>
  <div class="fee">
      <h1>FEE DETAILS</h1>
      <form class="row g-3" #feeDetailsForm="ngForm" (ngSubmit)="saveFeeDetails(feeDetailsForm)">
        <div class="col-4">
          <label for="inputEmail" class="form-label">Registered Email</label>
          <input type="text" name="loginid" class="form-control" id="email" placeholder="" ngModel >
      </div>
          <div class="col-md-4">
              <label for="inputAdmissionFee" class="form-label">ADMISSION FEE</label>
              <input type="number" name="admissionfee" class="form-control" id="admissionfee" ngModel>
            </div>
            <div class="col-md-4">
              <label for="inputTuitionFee" class="form-label">TUITION FEE</label>
              <input type="number" name="tuitionfee" class="form-control" id="tuitionfee" ngModel>
            </div>
            <div class="col-md-4">
              <label for="inputOtherFee" class="form-label">OTHER FEE</label>
              <input type="number" name="otherfee" class="form-control" id="otherfee" ngModel>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary"> <a href="http://localhost:4200/applyscheme/otherdetail">Submit</a></button>
            </div>
      </form>
      <br>
    <br>
      </div>
  